.AdminContainer{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.AdminElement{display: grid;
    justify-content: center;
    width: 300px;
    /* margin-left: 10%; */
}

.AdminElement h1{
    font-size: 30px;
    text-align: center;
}

.Adminimg{
    width: 300px;
}