.formA {
  color: navy;
}

.formA h1 {
  color: #004e92;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-auto-rows: 40px 1fr;
    grid-gap: 20px;
    width: 100vw;
    height: 350px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .form-wrapper .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-wrapper .footer {
    display: flex;
    justify-content: space-around;
  }

  .button {
      min-width: 140px;
      height: 50px;
      color: #fff;
      padding: 5px 10px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      outline: none;
      border-radius: 5px;
      border: none;
      background-size: 120% auto;
      background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
  }



  .formA {
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    /* border: 2px solid navy; */
    border-radius: 4px;

  }

  .inputA {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    width: 300px;
    margin: 5px;
    background-color: #fff;
    border: 0px;
    border-bottom: 2px solid black;
    /* border-radius: 4px; */
  }